html,body,.mainPage{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.mui-bar-nav {
	background: #D74B28;
}

header .mui-title {
	color: white;
}

#searchBtn,
.backBtn {
	color: white;
	font-weight: bolder;
}

#Search,
#BookInfo,
#BookPages {
	display: none;
}

#mask {
	display: none;
}

#mask .mui-spinner {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

li {
	list-style: none;
}

.bookname {
	font-size: large;
	font-weight: bold;
}

.info {
	font-size: small;
}

img {
	width: 5.714em;
	height: 8em;
	margin-right: 1em;
}

.meta-info {
	margin-top: .8em;
}

#BookInfoFooter {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%,0);
	display: table;
}
#BookInfoFooter a{
	margin: 5px;
	font-size: larger;
}
#BookPages .mui-bar-nav{
	background: rgba(0,0,0,.5);
}

#Content{
	position: relative;
    width: 100%;
    height: 100%;
	overflow: hidden;
	font-size: 14px;
}
.PageCover{
	position: absolute;
    top: 2em;
    bottom: 2em;
    overflow: hidden;
}
#Page{
    line-height: 1.5;
    font-size: 20px;
    /*margin-top: -300px;*/
    height: 100%;
}
#BackBar,#ToolBar{
	display: none;
}
#ToolBar{
	position: absolute;
    top: 100%;
    transform: translate(0, -100%);
}
#prev{
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
}
#next{
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
}
#menu{
	position: absolute;
	width: 50%;
	height: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#prevPage,#Page,#nextPage{
	float: left;
    padding-left: 1em;
    padding-right: 1em;
}
#prevPage{
	margin-left: -100%;
}
#Page{
	left: 0;
}
#nextPage{
}
.battery {
	height: 6px;
	width: 15px;
	border: 1.5px solid gray;
	position: relative;
	background-repeat: no-repeat;
	background-image: linear-gradient(to right, gray, gray);
	background-size: 30% 100%;
	/* animation: change 3s steps(8) infinite; */
}


.battery::after {
	content: '';
	height: 2px;
	width: .1px;
	background-color: gray;
	border: 1px solid gray;
	position: absolute;
	top: 1px;
	right: -2.5px;
	border-radius: 0 .2px .2px 0;
}