#Catalogue{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background: white;
    top: 44px
}
#BackBar,#ToolBar{
    display: none
}
#Content{
    position: relative;
    width: 100%;
    height: 100%
}
.PageCover{
    position: absolute;
    overflow: hidden;
    top: 2em;
    bottom: 2em
}
/* #Page{
    margin-left: 1em;
    margin-right: 1em
} */
#ToolBar{
    position: absolute;
    top: 100%;
    transform: translate(0,-100%)
}
#prev{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0
}
#next{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0
}
#menu{
    position: absolute;
    width: 30%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
#BookPages{
    background: rgb(253,246,227);
    color:gray;
}
#BookPages .mui-bar-nav{
    background: rgba(0,0,0,.5)
}
#Catalogue .mui-bar-nav{
    background: #D74B28
}
#Cataloguelist li.select{
    background: #D74B28;
    color:white;
}
.Page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 0%;
    margin-right: 0%;
    transition: margin-left .2s, margin-right .2s;
}

.Page.prev {
    margin-left: -100%;
    margin-right: 100%;
}

.Page.next {
    margin-left: 100%;
    margin-right: -100%;
}

.Page.notrans {
    transform: none;
}

.Text {
    position: relative;
    background: rgb(253,246,227);
    word-break: break-all;
    margin-left: 1em;
    margin-right: 1em
}

.Battery {
	position: absolute;
	bottom: .4em;
	right: 2em;
	height: 12px;
	width: 22px;
	border: 1px solid gray;
	background-repeat: no-repeat;
	background-image: linear-gradient(to right, gray, gray);
    background-size: 90% 8px;
    background-position: 1px 1px;
	/* animation: change 3s steps(8) infinite; */
}

.Battery::after {
	content: '';
	height: 4px;
	width: 2px;
	background-color: gray;
	border: 1px solid gray;
	position: absolute;
	top: 2px;
	right: -4px;
	border-radius: 0 .2px .2px 0;
}

.Time{
    position: absolute;
    bottom: .5em;
    right: 5em;
    font-size: 12px;
    line-height: 14px;
    color: gray;
}

.Process{
    position: absolute;
    bottom: .5em;
    left: 2em;
    font-size: 12px;
    line-height: 14px;
    color: gray;
}

.Title{
	position: absolute;
    top: .5em;
    font-size: 12px;
    color: gray;
    width: 100%;
}

.Title .name1{
	float: left;
    margin-left: 1em;
}

.Title .name2{
	float: right;
    margin-right: 1em;
}
.ColorBtn{
    height: 30px;
    width: 30px;
    display: block;
    margin-top: 7px;
    margin-left: 10px;
    float: left;
    background: white;
}
.green{
    background: rgb(210,229,210) !important;
    color: black;
}
.warm{
    background: rgb(253,246,227) !important;
    color: gray;
}
.dark{
    background: rgb(13, 13, 13) !important;
    color: rgb(100,100,100);
}